@import 'variables';

html {
  font-family:$font-family;
  font-size: $font-size;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $main-background-color;
  color: $main-font-color;
}
